@font-face {
    font-family: ebas-medium;
    src: url(./assets/font/EBAS\ Medium.woff) format("woff");
    src: url(./assets/font/EBAS\ Medium.ttf) format("opentype");
}

body {
    font-family: ebas-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    min-height: 100vh; /* Ensures the body takes full height of the viewport */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px; /* Set a reasonable max-width for large screens */
    padding: 20px; /* Add some padding for better spacing */
    box-sizing: border-box; /* Ensures padding is included in the element's total width */
}

.header {
    font-size: 2em;
    margin-bottom: 5vh; /* Use vh for a consistent margin relative to the viewport */
}

.subheader {
    font-size: 1.5em;
}

.daily-image {
    border: double white 10px;
    max-width: 90%;
    width: 100%; /* Ensure it takes full width of its container */
    animation: breathing 4s infinite; /* Breathing animation */
}

.daily-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.navbar {
    font-size: 2em;
    font-weight: bold;
    padding-top: 5px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
}



.footer-style {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5vh;
    text-align: center;
    font-size: smaller;
}

a {
    color: #CD071E;
    text-decoration: none;
}

/*experimental*/
