@font-face {
    font-family: soufflet-ebas;
    src: url(./assets/font/soufflet-ebas.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    /*
    Note about fontface. it has the following chinese characters included:
    墨 月 佛 慈 心 第 一 二 三 四 五 六 七 八 九 十 百 千 上 下
    */
}

body {
    font-family: 'Soufflet-ebas', serif, 'PingFang SC', 'Microsoft YaHei';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    min-height: 100vh; /* Ensures the body takes full height of the viewport */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px; /* Set a reasonable max-width for large screens */
    padding: 20px; /* Add some padding for better spacing */
    box-sizing: border-box; /* Ensures padding is included in the element's total width */
}

.header {
    font-size: 2em;

}

.subheader {
    font-size: 1.5em;
}

.daily-image {
    border: double white 10px;
    max-width: 90%;
    width: 100%; /* Ensure it takes full width of its container */
    animation: breathing 4s infinite; /* Breathing animation */
}

.daily-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.navbar {
    font-size: 2em;
    font-weight: bold;
    padding-top: 5px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
}



.footer-style {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5vh;
    text-align: center;
    font-size: smaller;
}

#seal {
    height: 25px;
    width: auto;
}

a {
    color: #CD071E;
    text-decoration: none;
}

/*experimental*/
